{% load static %}
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/jquery-confirm.js' %}"></script>
<script src="{% static 'js/csrf.ajax.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static "js/jquery.ajaxchimp.min.js" %} "></script>
<script src="{% static "js/jquery.nice-select.min.js" %} "></script>
<script src="{% static "js/jquery.sticky.js" %} "></script>
<script src="{% static "js/nouislider.min.js" %} "></script>
<script src="{% static "js/countdown.js" %} "></script>
<script src="{% static "js/jquery.magnific-popup.min.js" %} "></script>
<script src="{% static "js/owl.carousel.min.js" %} "></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="{% static "js/gmaps.min.js" %} "></script>
<script src="{% static "js/main.js" %} "></script>
<script src="{% static "js/custom.js" %} "></script>
